@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #3F88C5;
    --dark-grey: #6B7280;
    --off-white: #F3F4F6;
    --footer-blue: #5C78DC;
    --light-grey: #f2f2f2;

}

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    margin: 0px;
}

/* for font google font */

hr {
    margin: 2rem 0 rem;
}

br {
    margin: 2rem 0 rem;
}

/* Container */
.container {
    padding: 0 rem 1 rem;
}

.container-center {
    max-width: 600px;
    margin: auto;

}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1 rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;

}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    border: 1px solid var(--primary-color);
    margin-top: 4rem;
    /* display: block; */
    max-width: 140px;
    padding: 0.5rem 1rem;



}

.link-secondary {
    /* background-color: var(--primary-color); */
    border-radius: 0.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    /* display: block; */
    max-width: 140px;
    margin: 8rem 1rem 1rem 0rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

}

.list-non-bullets {
    list-style: none;
}


.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation */



.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
  
    
}

.navigation .nav-pills {
    text-align: center;
}

.navigation .link {
    color: white;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link-active {
    font-weight: bold;
}

/* hero */

nav{
    position: fixed;
    font-size: 1.2rem;
    width: 100%;
    top: 0;
    left: 0;
   
  
}

header{
    margin-top: 8rem;

}


.hero {
    padding: 2rem;
    
    
}



.responsive {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;

}



.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;

}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */

.section {
    padding: 2rem;
    text-align: center;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}



.footer .footer-header {
    font-weight: bold;
    font-size: 1.8rem;

}

.footer ul {
    padding-inline-start: 0px;
}



.footer .fa{
    padding:1rem;
    font-size:40px;
    width : 50px;
    text-decoration: none;
    margin: 5px 10px;
    color: black;

}



/* blogs box */



.project-item{
    margin: 30px;
    border-radius: 2rem;
    max-width: 350px;
}

/* flex container */
.flex-container{
    display: flex;
    
    flex-direction: row;
     margin: auto;
    width:auto ;
    padding: 0.5rem 0.5rem;
    
    justify-content: space-evenly;
    
    /* box-sizing: border-box; */
    
}

.flex-container>div{
    background-color: grey;
    color: white;
    margin:2rem;
    padding: 1rem;
    width: 100%;
  
    font-size: medium;
    flex-wrap: wrap;

}

@media (max-width: 800px) {
    .flex-container{
        flex-direction: column;
        align-items: center;
    }
}

/* blog listing */


.blog-div{
    background-color: var(--off-white);
    max-width: 65%;
    margin: 4rem auto;
    border: 10px solid transparent;
    border-radius: 30px;
    box-shadow: 15px 5px 20px grey;
}

.blog-div-center{
    display: block;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin: auto;
    width: 60%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    
    
    
}
.blog-div-center  h2{
    
   font-size: 2em;
    
}

.blog-div-center h2 a{
    text-decoration: none;
    color: var(--primary-color);
    
}

.blog-div-center  p{
    margin-bottom: 2rem;
    font-size: 18px;
    
}

/* project page */ */
 ul.list-non-bullets{
    margin: 10rem;
    padding: 1rem;

}


.list-non-bullets-projects{
    list-style: none;
    text-align: center;
    padding: 1.5rem;
    margin: 3rem auto;
    display: block;
    border: 10px solid transparent;
    border-radius: 30px;
    max-width: 500px;
    box-shadow: 15px 5px 20px grey;
    
   
    
    

}

ul{
    padding-inline-start: 0px;
}

.lg{
    background-color: var(--light-grey);
}

 /* ul .link {
    margin-top: 10rem;
} */

.appDiscription{
    margin-bottom: 1.5rem;
}

